# Auto detect text files and perform LF normalization
*.js linguist-language=python
*.css linguist-language=python
*.html linguist-language=python
*.sql linguist-language=python
*.csv linguist-language=python
*.txt linguist-language=python
*.json linguist-language=python